:root {
  --av-primary: #0000ff;
  --av-light-gray: #f4f7ff;
  --av-mid-gray: #9ca0a6;
  --av-dark-gray: #767676;
  --av-darker-gray: #393939;
  --av-darkest-gray: #181818;
  --av-black: #040404;
  --av-red: #ff3737;
  --av-green: #37b14c;
  --av-orange: #ff9700;
  --av-white: #ffffff;

  --av-font-light: "Akkurat-Light";
  --av-font-light-italic: "Akkurat-Light-Italic";
  --av-font-regular: "Akkurat-Regular";
  --av-font-italic: "Akkurat-Italic";
  --av-font-bold: "Akkurat-Bold";
  --av-font-bold-italic: "Akkurat-Bold-Italic";
  --av-font-mono: "Akkurat-Mono";
  --av-font-xxs: 0.65rem;
  --av-font-xs: 0.85rem;
  --av-font-sm: 0.9rem;
  --av-font-md: 0.95rem;
  --av-font-reg: 1rem;
  --av-font-title: 1.25rem;
  --av-font-lg: 1.65rem;
  --av-font-xl: 2.375rem;

  --ion-color-primary: var(--av-primary);
  --ion-color-light: var(--av-light-gray);
  --ion-color-danger: var(--av-red);
  --ion-padding: 25px;

  --ion-font-family: "Akkurat-Regular";
}

/* Fonts */
@font-face {
  font-family: "Akkurat-Regular";
  src: url("@/theme/fonts/Akkurat/Akkurat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Light";
  src: url("@/theme/fonts/Akkurat/Akkurat-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Italic";
  src: url("@/theme/fonts/Akkurat/Akkurat-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Light-Italic";
  src: url("@/theme/fonts/Akkurat/Akkurat-LightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Mono";
  src: url("@/theme/fonts/Akkurat Mono/AkkuratMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Bold";
  src: url("@/theme/fonts/Akkurat/Akkurat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Bold-Italic";
  src: url("@/theme/fonts/Akkurat/Akkurat-BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Resets */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

::selection {
  color: #fff;
  background: var(--av-primary);
}

::-moz-selection {
  color: #fff;
  background: var(--av-primary);
}

/* Overrides */
ion-button {
  height: auto;
  --padding-top: 20px;
  --padding-bottom: 20px;
  letter-spacing: 0.015em;
  --text-transform: none;
  text-transform: none;
}

.custom-input {
  --padding-top: 18px;
  --padding-bottom: 18px;
  --padding-start: 18px;
  --padding-end: 18px;
  --placeholder-color: #9ca0a6;
  --placeholder-opacity: 0.8;
  border-radius: 8px;
  border: 1px solid #313131;
  height: auto;
  margin-bottom: 15px;
  font-size: 15px;
}

.custom-select {
  --padding-top: 18px;
  --padding-bottom: 18px;
  --padding-start: 24px;
  --padding-end: 24px;
  --placeholder-color: #9ca0a6;
  --placeholder-opacity: 1;
  appearance: none;
  background: none;
  border: 1px solid #313131;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
}

.custom-textarea {
  appearance: none;
  resize: none;
  background: none;
  border: 0.75px solid #313131;
  border-radius: 8px;
  width: 100%;
  padding: 18px 24px;
  min-height: 100px;
  color: var(--av-light-gray);
  font-size: 15px;
  line-height: 20px;
}

ion-toolbar {
  --background: none;
  --min-height: 90px;
  --padding-start: 20px;
  --padding-end: 20px;
  --border-style: none;
}

ion-menu-button {
  height: 50px;
}

ion-button.back {
  --padding-start: 0;
}

ion-toggle {
  --background: rgba(171, 187, 194, 0.26);
}

ion-modal {
  --border-radius: 40px 40px 0px 0px !important;
}

ion-modal::part(content) {
  --border-radius: 40px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

ion-modal::part(handle) {
  top: 10px;
}

.form-admin--group_field ion-label.empty-state {
  display: block;
  margin-top: 20px;
  opacity: 0.25;
}

.wrap-text {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: clip !important;
}

/* Colors */
.color-primary {
  color: var(--av-primary);
}

.color-light-gray {
  color: var(--av-light-gray);
}

.color-mid-gray {
  color: var(--av-mid-gray);
}

.color-dark-gray {
  color: var(--av-dark-gray) !important;
}

.color-red {
  color: var(--av-red);
}

.color-green {
  color: var(--av-green);
}

.color-white {
  color: var(--av-white) !important;
}

/* Utilities */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.link {
  text-decoration: none;
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--av-dark-gray);
}

.separator {
  border-bottom: 1px solid var(--av-darkest-gray);
}

.text-spaced {
  letter-spacing: 0.015em;
}

.text-lowercase {
  text-transform: lowercase;
}

.font-mono {
  font-family: var(--av-font-mono);
}

.font-bold {
  font-family: var(--av-font-bold);
}

.font-bold-italic {
  font-family: var(--av-font-bold-italic);
}

.font-regular {
  font-family: var(--av-font-regular);
}

.font-italic {
  font-family: var(--av-font-italic);
}

.font-light {
  font-family: var(--av-font-light);
}

.font-light-italic {
  font-family: var(--av-font-light-italic);
}

.font-size-xxs {
  /* 10px */
  font-size: var(--av-font-xxs) !important;
}

.font-size-xs {
  /* 12px */
  font-size: var(--av-font-xs) !important;
  line-height: var(--av-font-reg);
}

.font-size-sm {
  /* 14px */
  font-size: var(--av-font-sm) !important;
  line-height: var(--av-font-sm);
}

.font-size-md {
  /* 15px */
  font-size: var(--av-font-md);
  line-height: var(--av-font-md);
}

.font-size-normal {
  /* 16px */
  font-size: var(--av-font-reg);
  line-height: var(--av-font-reg);
}

.font-size-title {
  /* 20px */
  font-size: var(--av-font-title);
}

.font-size-lg {
  /* 28px */
  font-size: var(--av-font-lg) !important;
}

.font-size-xl {
  /* 38px */
  font-size: var(--av-font-xl);
  line-height: var(--av-font-xl);
}

.inline-block {
  display: inline-block;
}

h1.title-admin {
  margin-bottom: 30px;
}

.button-pair {
  margin-top: 30px;
}

.button-pair > ion-button {
  margin-right: 20px;
}

.text-button {
  padding: 5px;
  cursor: pointer;
}

.text-button:hover {
  opacity: 0.5;
}

ion-button.button-wide {
  min-width: 250px;
}

ion-button.button-outline {
  color: var(--av-light-gray) !important;
}

ion-button.button-red {
  color: var(--av-red) !important;
}

.form-toggle {
  /* background: var(--av-black); */
  padding: 0 15px !important;
}

/* Linked List Item with arrow */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 0.75px solid #313131;
}

.list.list--condensed .list-item {
  padding: 18px 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  cursor: pointer;
  width: 100%;
}

.list-item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.list-item:not(:first-of-type) {
  border-top: 0.75px solid #313131;
}

.list-item__info {
  display: flex;
  align-items: center;
}

.list-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.list-item__name {
  display: flex;
  align-items: center;
  position: relative;
}

.list-item__name .manufacturer {
  position: absolute;
  top: 100%;
  margin-top: 8px;
  margin-left: 10px;
}

.list-item__details .secondaryText {
  margin-top: 8px;
  margin-left: 10px;
}

.list-item .arrow-right {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("@/theme/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 8px 12px;
  background-position: center;
}

/* Status Dots */

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-radius: 100%;
}

.dot--low-impact {
  background-color: rgba(192, 127, 0, 1);
  border-color: rgba(192, 127, 0, 0.5);
}

.dot--high-impact {
  background-color: rgba(255, 55, 55, 1);
  border-color: rgba(255, 55, 55, 0.5);
}

.dot--resolved {
  background-color: rgba(55, 177, 76, 1);
  border-color: rgba(55, 177, 76, 0.5);
}

/* Layouts */

/* Onboarding/Landing */

.outer-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: var(--theme-image);
  background-size: 100%;
  background-position: center;
}

.outer-container.onboarding {
  background-image: url("@/theme/backgrounds/onboarding.svg");
}

.gradient-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, #000000 10.34%, rgba(0, 0, 0, 0) 86.69%);
}

.inner-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  padding: 25px;
}

/* Settings modal styles */

.modal-panel {
  height: 70%;
  border-radius: 40px 40px 40px 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-panel-container {
  position: relative;
  height: 100%;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  padding: 45px 22px 32px;
}

.modal-panel__header {
  margin-bottom: 20px;
}

.modal-panel__title {
  margin-bottom: 12px;
}

.modal-panel__section {
  margin-bottom: 20px;
}

.settings-panel {
  height: 100%;
  border-radius: 40px 40px 0px 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.settings-panel-container {
  position: relative;
  height: 100%;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  padding: 45px 22px 32px;
}

.settings-panel-container ion-item::part(native) {
  padding-left: 0px;
}

.settings-panel__header {
  margin-bottom: 20px;
  padding-bottom: 32px;
  border-bottom: 0.75px solid #313131;
}

.settings-panel__title {
  margin-bottom: 12px;
}

.settings-panel__section {
  margin-bottom: 20px;
}

.settings-panel__heading {
  margin-bottom: 5px;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting .sublabel {
  margin-left: 12px;
}

.settings-panel__comment:not(:first-of-type) {
  margin-top: 18px;
}

/* Swiper Global Overrides */

.swiper-pagination-bullet {
  background: var(--av-light-gray) !important;
  opacity: 0.3 !important;
}

.swiper-pagination-bullet-active {
  background: var(--av-light-gray) !important;
  opacity: 1 !important;
}

/* Action Sheet Styling overrides */
ion-action-sheet .action-sheet-title {
  color: #131313;
}

ion-action-sheet .action-sheet-button {
  font-size: 15.597px !important;
}
.action-sheet-button.sc-ion-action-sheet-ios {
  color: var(--ion-color-dark) !important;
}
ion-action-sheet .action-sheet-cancel {
  font-weight: bold;
}

ion-action-sheet .action-sheet-cancel::after {
  background: #000000 !important;
}

ion-action-sheet .action-sheet-selected::after {
  background: var(--av-primary) !important;
}

ion-action-sheet .action-sheet-selected .action-sheet-button-inner {
  font-size: 18px;
}

ion-select-option::part(text) {
  background-color: #ffffff !important;
}

/* Toast Styling */
ion-toast.customToast {
  --max-width: 400px;
}

ion-toast.customToast .toast-top {
  background: var(--av-darkest-gray) !important;
}

ion-toast.customToast::part(wrapper) {
  width: 400px !important;
}

ion-toast.customToast::part(container) {
  position: relative;
  border-radius: 15px;
}

ion-toast.customToast.customToastGeneric::part(container) {
  background-image: url("@/theme/icons/av.svg");
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 53px 53px;
}

ion-toast.customToast::part(container)::after {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 10px;
  bottom: 12px;
  width: 5px;
  border-radius: 4px;
  background: #000;
}

ion-toast.customToast.customToastSuccess::part(container)::after {
  background: var(--av-green);
}

ion-toast.customToast.customToastProblem::part(container)::after {
  background: var(--av-orange);
}

ion-toast.customToast.customToastError::part(container)::after {
  background: var(--av-red);
}

ion-toast.customToast.customToastGeneric::part(container)::after {
  display: none;
}

ion-toast.customToast::part(icon) {
  margin-left: 22px;
  width: 24px;
  height: 24px;
}

ion-toast.customToast.customToastSuccess::part(icon) {
  color: var(--av-green);
}

ion-toast.customToast.customToastProblem::part(icon) {
  color: var(--av-orange);
}

ion-toast.customToast.customToastError::part(icon) {
  color: var(--av-red);
}

ion-toast.customToast::part(header) {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--av-light-gray);
}

ion-toast.customToast::part(message) {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--av-light-gray);
}

/* Form styling */

.form-admin ion-input,
.form-admin ion-textarea {
  --background: #181818;
  --color: #fff;
  --placeholder-color: #ddd;
  --placeholder-opacity: 0.4;
  --border-radius: 10px;
}

.form-admin--divider {
  height: 1px;
  width: 100%;
  background: #313131;
  margin: 20px 0;
}

.form-admin--group_field {
  margin: 10px 0;
  padding-right: 10px;
  padding-left: 10px;
}

.form-admin--group_field:nth-child(2n-1) {
  padding-left: 0;
}

.form-admin--group_field:nth-child(2n) {
  padding-right: 0;
}

.form-admin--group_field ion-input,
.form-admin--group_field ion-select,
.form-admin--group_field ion-textarea {
  margin-top: 5px;
  border-radius: 5px;
  line-height: 25px;
  border: 1px solid #313131;
}

.form-admin--group_field ion-textarea {
  padding-left: 20px;
  padding-right: 20px;
}

.form-admin--group_field-item {
  margin-top: 20px;
  border: 1px solid var(--av-darkest-gray);
  border-radius: 10px;
}

.form-admin--group_field-item.rev-margin {
  margin-bottom: 20px;
  margin-top: 0;
}

.form-admin--group_field-item > img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.form-admin--group_field-item:hover {
  border: 1px solid var(--av-dark-gray);
}

.form-admin--group_field .chips-field {
  position: relative;
}

.form-admin--group_field .chips-field .chips-field--label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  color: var(--av-light-gray);
  z-index: 999;
}

.form-admin--group-full {
  width: 100%;
}

.form-admin--group-full .form-admin--group_field:nth-child(2n-1) {
  padding: auto;
}

.position-relative {
  position: relative;
}

.flex {
  display: flex;
}

.pnlm-hotspot {
  background-image: url("@/theme/icons/hotspot.svg") !important;
  background-position: center;
}

ion-item {
  --background: transparent;
}

ion-list {
  background: transparent !important;
}

ion-menu-button {
  --background: var(--ion-color-primary);
  --color: var(--av-light-gray);
}

body.dark ion-menu-button {
  --background: rgba(255, 255, 255, 0.1);
}

body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}

.ml-2 {
  margin-left: 8px;
}
.mt-2 {
  margin-top: 8px;
}

.typeform-container .tf-v1-widget {
  width: 100%;
  height: 100%;
}

.typeform-container .tf-v1-widget iframe {
  width: 100%;
  height: 100%;
}
