:root {
  --av-primary: #0000ff;
  --av-light-gray: #f4f7ff;
  --av-mid-gray: #9ca0a6;
  --av-dark-gray: #767676;
  --av-red: #ff3737;
  --av-green: #37b14c;

  --av-font-light: "Akkurat-Light";
  --av-font-light-italic: "Akkurat-Light-Italic";
  --av-font-regular: "Akkurat-Regular";
  --av-font-italic: "Akkurat-Italic";
  --av-font-bold: "Akkurat-Bold";
  --av-font-bold-italic: "Akkurat-Bold-Italic";
  --av-font-mono: "Akkurat-Mono";
  --av-font-xxs: 0.625rem;
  --av-font-xs: 0.75rem;
  --av-font-sm: 0.875rem;
  --av-font-md: 0.9375rem;
  --av-font-reg: 1rem;
  --av-font-lg: 1.75rem;
  --av-font-xl: 2.375rem;

  --ion-color-primary: var(--av-primary);
  --ion-color-light: var(--av-light-gray);
  --ion-color-dark: var(--av-dark-gray);
  --ion-color-danger: var(--av-red);
  --ion-background-color: #000000;

  --ion-font-family: "Akkurat-Regular";
}

@media (prefers-color-scheme: dark) {
  body {
    --ion-color-primary: var(--av-primary);
  }
}

/* Fonts */
@font-face {
  font-family: "Akkurat-Regular";
  src: url("@/theme/fonts/Akkurat/Akkurat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Light";
  src: url("@/theme/fonts/Akkurat/Akkurat-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Italic";
  src: url("@/theme/fonts/Akkurat/Akkurat-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Light-Italic";
  src: url("@/theme/fonts/Akkurat/Akkurat-LightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Mono";
  src: url("@/theme/fonts/Akkurat Mono/AkkuratMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Bold";
  src: url("@/theme/fonts/Akkurat/Akkurat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat-Bold-Italic";
  src: url("@/theme/fonts/Akkurat/Akkurat-BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Resets */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Overrides */
ion-button {
  height: auto;
  --padding-top: 20px;
  --padding-bottom: 20px;
  letter-spacing: 0.015em;
  --text-transform: none;
}

ion-input.custom {
  --padding-top: 18px;
  --padding-bottom: 18px;
  --padding-start: 24px;
  --padding-end: 24px;
  --background: #181818;
  --color: #f4f7ff;
  --placeholder-color: #9ca0a6;
  --placeholder-opacity: 0.8;
  border-radius: 8px;
  border: 1px solid #313131;
  height: auto;
  margin-bottom: 15px;
}

ion-modal {
  --background: none;
  --backdrop-opacity: 0.85;
}

ion-modal::part(handle) {
  top: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Colors */
.color-primary {
  color: var(--av-primary);
}

.color-light-gray {
  color: var(--av-light-gray);
}

.color-mid-gray {
  color: var(--av-mid-gray);
}

.color-dark-gray {
  color: var(--av-dark-gray);
}

.color-red {
  color: var(--av-red);
}

.color-green {
  color: var(--av-green);
}

/* Utilities */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.link {
  text-decoration: none;
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--av-dark-gray);
}

.text-spaced {
  letter-spacing: 0.015em;
}

.text-lowercase {
  text-transform: lowercase;
}

.font-mono {
  font-family: var(--av-font-mono);
}

.font-bold {
  font-family: var(--av-font-bold);
}

.font-bold-italic {
  font-family: var(--av-font-bold-italic);
}

.font-regular {
  font-family: var(--av-font-regular);
}

.font-italic {
  font-family: var(--av-font-italic);
}

.font-light {
  font-family: var(--av-font-light);
}

.font-light-italic {
  font-family: var(--av-font-light-italic);
}

.font-size-xxs {
  /* 10px */
  font-size: var(--av-font-xxs);
}

.font-size-xs {
  /* 12px */
  font-size: var(--av-font-xs);
}

.font-size-sm {
  /* 14px */
  font-size: var(--av-font-sm);
  line-height: var(--av-font-sm);
}

.font-size-md {
  /* 15px */
  font-size: var(--av-font-md);
  line-height: var(--av-font-md);
}

.font-size-normal {
  /* 16px */
  font-size: var(--av-font-reg);
  line-height: var(--av-font-reg);
}

.font-size-lg {
  /* 38px */
  font-size: var(--av-font-lg);
  line-height: var(--av-font-lg);
}

/* Layouts */

/* Onboarding/Landing */

.outer-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url("@/theme/backgrounds/lines-no-logo.svg");
  background-size: 100%;
  background-position: center;
}

.outer-container.onboarding {
  background-image: url("@/theme/backgrounds/onboarding.svg");
}

.gradient-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, #000000 10.34%, rgba(0, 0, 0, 0) 86.69%);
}

.inner-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  padding: 32px;
}

/* Swiper Global Overrides */

.swiper-pagination-bullet {
  background: var(--av-light-gray) !important;
  opacity: 0.3 !important;
}

.swiper-pagination-bullet-active {
  background: var(--av-light-gray) !important;
  opacity: 1 !important;
}